body {
    background-color: #EAF6F6;
}

h1 {
    color: rgb(255, 50, 135);
    font-size: 70px;
}

img {
    background-color: rgb(255, 196, 196);
}

body {
    background-color: #EAF6F6;
}

h1 {
    color: #66bfbf;
}

h3 {
    color: #66bfbf;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: rgb(20, 241, 248);
    border-width: 5px;
    width: 5%;
}